.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
  }
  
  .desktop .overlap-group {
    position: relative;
    width: 365px;
    height: 560px;
    top: 232px;
    left: 535px;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 360px;
    height: 560px;
    top: 0;
    left: 5px;
    background-color: #090e20;
    border-radius: 30px;
  }
  
  .desktop .form-log-in {
    display: inline-flex;
    flex-direction: column;
    min-width: 320px;
    align-items: flex-start;
    gap: var(--size-space-600);
    padding: var(--size-space-600);
    position: absolute;
    top: 208px;
    left: 25px;
    border-radius: 30px;
    border: 1px solid;
    border-color: var(--color-border-default-default);
  }
  
  .desktop .input-field {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-200);
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .label {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: #ffe2fb;
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
  }
  
  .desktop .input {
    display: flex;
    min-width: 240px;
    align-items: center;
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-default-default);
    background-image: url(./img/input.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .desktop .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -0.50px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
  }
  
  .desktop .div {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: #fae8e8;
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
  }
  
  .desktop .div-wrapper {
    min-width: 240px;
    align-items: center;
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: transparent;
    background-image: url(./img/image.svg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .button-group {
    display: flex;
    align-items: center;
    gap: var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
    background: linear-gradient(
      129deg,
      rgba(146, 146, 146, 1) 23%,
      rgba(44, 44, 44, 1) 82%
    );
    background-color: var(--color-background-brand-default);
  }
  
  .desktop .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-brand-on-brand);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .desktop .text-link {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .text-link-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-link-font-family);
    font-weight: var(--body-link-font-weight);
    color: var(--color-text-default-tertiary);
    font-size: var(--body-link-font-size);
    letter-spacing: var(--body-link-letter-spacing);
    line-height: var(--body-link-line-height);
    text-decoration: underline;
    white-space: nowrap;
    font-style: var(--body-link-font-style);
  }
  
  .desktop .generic-avatar {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 148px;
    left: 155px;
    object-fit: cover;
  }
  
  .desktop .mask-group {
    position: absolute;
    width: 365px;
    height: 140px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-2.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  