.examples-messaging {
    position: relative;
    width: 905px;
    height: 680px;
    background-color: #fef7ff;
    border-radius: 18px;
    overflow: hidden;
    border: 8px solid;
    border-color: #cac4d0;
  }
  
  .examples-messaging .messages-list {
    display: flex;
    flex-direction: column;
    width: 313px;
    align-items: flex-start;
    position: absolute;
    top: 92px;
    left: 24px;
  }
  
  .examples-messaging .section-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .examples-messaging .div {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .examples-messaging .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--m3-title-small-font-family);
    font-weight: var(--m3-title-small-font-weight);
    color: #49454f;
    font-size: var(--m3-title-small-font-size);
    letter-spacing: var(--m3-title-small-letter-spacing);
    line-height: var(--m3-title-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-title-small-font-style);
  }
  
  .examples-messaging .list-item {
    display: flex;
    flex-direction: column;
    height: 72px;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #fef7ff;
  }
  
  .examples-messaging .state-layer-overlay {
    position: absolute;
    width: 313px;
    height: 72px;
    top: 0;
    left: 0;
  }
  
  .examples-messaging .state-layer {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .examples-messaging .leading-element {
    display: inline-flex;
    align-items: flex-start;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .examples-messaging .building-blocks {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #eaddff;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .examples-messaging .thumbnail {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    object-fit: cover;
  }
  
  .examples-messaging .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  .examples-messaging .headline {
    align-self: stretch;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 24px;
    position: relative;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #1d1b20;
  }
  
  .examples-messaging .supporting-text {
    position: relative;
    align-self: stretch;
    height: 20px;
    font-family: var(--m3-body-medium-font-family);
    font-weight: var(--m3-body-medium-font-weight);
    color: #4a4459;
    font-size: var(--m3-body-medium-font-size);
    letter-spacing: var(--m3-body-medium-letter-spacing);
    line-height: var(--m3-body-medium-line-height);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--m3-body-medium-font-style);
  }
  
  .examples-messaging .trailing-supporting {
    position: relative;
    width: fit-content;
    font-family: var(--m3-label-small-font-family);
    font-weight: var(--m3-label-small-font-weight);
    color: #4a4459;
    font-size: var(--m3-label-small-font-size);
    text-align: right;
    letter-spacing: var(--m3-label-small-letter-spacing);
    line-height: var(--m3-label-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-label-small-font-style);
  }
  
  .examples-messaging .list-item-2 {
    border-radius: var(--shape-corner-large) var(--shape-corner-large) 0px 0px;
    display: flex;
    flex-direction: column;
    height: 72px;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #fef7ff;
  }
  
  .examples-messaging .text-wrapper {
    position: relative;
    align-self: stretch;
    height: 20px;
    font-family: var(--m3-body-medium-font-family);
    font-weight: var(--m3-body-medium-font-weight);
    color: #49454f;
    font-size: var(--m3-body-medium-font-size);
    letter-spacing: var(--m3-body-medium-letter-spacing);
    line-height: var(--m3-body-medium-line-height);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--m3-body-medium-font-style);
  }
  
  .examples-messaging .trailing-supporting-2 {
    position: relative;
    width: fit-content;
    font-family: var(--m3-label-small-font-family);
    font-weight: var(--m3-label-small-font-weight);
    color: #49454f;
    font-size: var(--m3-label-small-font-size);
    text-align: right;
    letter-spacing: var(--m3-label-small-letter-spacing);
    line-height: var(--m3-label-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-label-small-font-style);
  }
  
  .examples-messaging .conversation-wrapper {
    display: flex;
    width: 529px;
    height: 588px;
    align-items: flex-start;
    position: absolute;
    top: 92px;
    left: 361px;
  }
  
  .examples-messaging .conversation {
    display: flex;
    flex-direction: column;
    height: 666px;
    align-items: center;
    padding: 0px 0px 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    margin-bottom: -78.00px;
    background-color: #ffffff;
    border-radius: var(--shape-corner-extra-large);
    overflow: hidden;
  }
  
  .examples-messaging .top-app-bar {
    display: flex;
    height: 56px;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #fef7ff;
  }
  
  .examples-messaging .leading-icon {
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    gap: 10px;
    margin-top: -4.00px;
    margin-bottom: -4.00px;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .examples-messaging .container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .examples-messaging .img-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .examples-messaging .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .examples-messaging .headline-2 {
    flex: 1;
    font-size: var(--m3-title-large-font-size);
    letter-spacing: var(--m3-title-large-letter-spacing);
    line-height: var(--m3-title-large-line-height);
    position: relative;
    font-family: var(--m3-title-large-font-family);
    font-weight: var(--m3-title-large-font-weight);
    color: #1d1b20;
    font-style: var(--m3-title-large-font-style);
  }
  
  .examples-messaging .trailing-icon {
    height: 48px;
    margin-top: -4.00px;
    margin-bottom: -4.00px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 0 0 auto;
  }
  
  .examples-messaging .container-wrapper {
    display: flex;
    flex-direction: column;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
  }
  
  .examples-messaging .message {
    display: flex;
    flex-direction: column;
    height: 320px;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 4px;
    padding: 8px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
  }
  
  .examples-messaging .send-chat-bubble {
    display: inline-flex;
    max-width: 380px;
    min-height: 44px;
    align-items: center;
    padding: 8px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: #625b71;
    border-radius: 20px 20px 8px 20px;
  }
  
  .examples-messaging .chat-text {
    position: relative;
    flex: 1;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 24px;
  }
  
  .examples-messaging .message-card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 12px;
    position: absolute;
    top: 18px;
    left: 68px;
    background-color: #ece6f0;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .examples-messaging .image {
    width: 200px;
    height: 176px;
    border-radius: 8px;
    position: relative;
    background-image: url(./img/image-3.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .examples-messaging .text-content {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .examples-messaging .text-wrapper-2 {
    position: relative;
    width: 200px;
    margin-top: -1.00px;
    font-family: var(--m3-body-medium-font-family);
    font-weight: var(--m3-body-medium-font-weight);
    color: #1d1b20;
    font-size: var(--m3-body-medium-font-size);
    letter-spacing: var(--m3-body-medium-letter-spacing);
    line-height: var(--m3-body-medium-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--m3-body-medium-font-style);
  }
  
  .examples-messaging .text-wrapper-3 {
    position: relative;
    width: 200px;
    font-family: var(--m3-body-medium-font-family);
    font-weight: var(--m3-body-medium-font-weight);
    color: #49454f;
    font-size: var(--m3-body-medium-font-size);
    letter-spacing: var(--m3-body-medium-letter-spacing);
    line-height: var(--m3-body-medium-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--m3-body-medium-font-style);
  }
  
  .examples-messaging .reply-message {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
  }
  
  .examples-messaging .image-2 {
    width: 36px;
    height: 36px;
    border-radius: 1000px;
    position: relative;
    background-image: url(./img/image-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .examples-messaging .chat-text-wrapper {
    display: inline-flex;
    max-width: 336px;
    min-height: 44px;
    align-items: center;
    padding: 8px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ece6f0;
    border-radius: 20px 20px 20px 8px;
  }
  
  .examples-messaging .chat-text-2 {
    position: relative;
    flex: 1;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #49454f;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 24px;
  }
  
  .examples-messaging .predictive-responses {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    padding: 16px 24px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
  }
  
  .examples-messaging .bubble {
    display: inline-flex;
    min-height: 44px;
    align-items: center;
    padding: 8px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: #e8def8;
    border-radius: 20.03px 20.03px 8.01px 20.03px;
  }
  
  .examples-messaging .text {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4a4459;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .examples-messaging .message-input {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .examples-messaging .search-bar {
    display: flex;
    height: 56px;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #ece6f0;
    border-radius: 28px;
    overflow: hidden;
  }
  
  .examples-messaging .state-layer-2 {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  .examples-messaging .content-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  .examples-messaging .trailing-elements {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 0 0 auto;
  }
  
  .examples-messaging .chrome-browser-bar {
    display: flex;
    width: 905px;
    align-items: center;
    gap: 16px;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fef7ff;
    box-shadow: 0px 0.59px 0px #00000026, inset 0px -0.59px 0px #0000000d;
  }
  
  .examples-messaging .address-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #f3edf7;
    border-radius: 46.08px;
    overflow: hidden;
  }
  
  .examples-messaging .URL {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .examples-messaging .lock {
    position: relative;
    width: 15.36px;
    height: 15.36px;
  }
  
  .examples-messaging .text-2 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #1d1b20;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 24px;
  }
  
  .examples-messaging .star {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .examples-messaging .avatar {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #79747e;
    border-radius: 109.09px;
    overflow: hidden;
  }
  
  .examples-messaging .text-wrapper-4 {
    position: absolute;
    height: 24px;
    top: 1px;
    left: 7px;
    font-family: var(--m3-body-large-font-family);
    font-weight: var(--m3-body-large-font-weight);
    color: var(--m-3white);
    font-size: var(--m3-body-large-font-size);
    text-align: center;
    letter-spacing: var(--m3-body-large-letter-spacing);
    line-height: var(--m3-body-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-body-large-font-style);
  }
  